* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  color: #1e293b;
}

/* NAVBAR */
.navbar {
  position: sticky;
  top: 0;
  background: #020617;
  color: #fff;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.profile-container {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #4fa3ff;
  object-fit: cover;
}

.hero-buttons {
  margin-top: 15px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.btn.resume {
  background: #28a745;
}

.resume-box {
  text-align: center;
  margin-top: 10px;
}

.logo {
  font-weight: bold;
  font-size: 1.2rem;
}

nav a {
  color: #e5e7eb;
  margin-left: 20px;
  text-decoration: none;
}

nav a:hover {
  color: #38bdf8;
}

.menu-toggle {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}

/* HERO */
.hero {
  height: 90vh;
  background: linear-gradient(135deg, #020617, #0f172a);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero span {
  color: #38bdf8;
}

.btn {
  margin-top: 25px;
  padding: 12px 28px;
  background: #38bdf8;
  color: #020617;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 600;
}

/* SECTIONS */
.section {
  padding: 70px 20px;
  text-align: center;
}

.light {
  background: #f8fafc;
}

.content {
  max-width: 800px;
  margin: 20px auto;
}

/* SKILLS */
.skills-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
}

.skills-grid span {
  background: #020617;
  color: #fff;
  padding: 10px 18px;
  border-radius: 20px;
}

/* PROJECTS */
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-top: 40px;
}

.card {
  background: #fff;
  width: 300px;
  padding: 22px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  text-align: left;
}

.card ul {
  margin: 10px 0;
  padding-left: 18px;
  font-size: 0.9rem;
}

.tech {
  font-size: 0.85rem;
  color: #475569;
}

/* CONTACT */
.contact-box a {
  color: #0284c7;
  text-decoration: none;
  font-weight: 500;
}

/* FOOTER */
footer {
  background: #020617;
  color: #e5e7eb;
  padding: 15px;
  text-align: center;
}

/* MOBILE */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  nav {
    display: none;
    flex-direction: column;
    width: 100%;
    background: #020617;
    margin-top: 15px;
  }

  nav.active {
    display: flex;
  }

  nav a {
    padding: 12px;
    border-top: 1px solid #1e293b;
    text-align: center;
    margin: 0;
  }
}
